.navegacion{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1rem;
    background: rgba(11, 74, 122, 0.859);
    letter-spacing: 0.3rem;
}
